<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Seyahat ve Konaklama Rehberi</span>
                    <h2>Blog & Güncellemeler</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="blog-item set-bg" data-setbg="/sona-master/img/blog/blog-1.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Otel Seçimi</span>
                        <h4><a href="#">En Uygun Oteli Seçerken Dikkat Edilmesi Gerekenler</a></h4>
                        <div class="b-time"><i class="icon_clock_alt"></i> 19 Ocak 2025</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-item set-bg" data-setbg="/sona-master/img/blog/blog-2.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Seyahat İpuçları</span>
                        <h4><a href="#">Erken Rezervasyonun Avantajları</a></h4>
                        <div class="b-time"><i class="icon_clock_alt"></i> 15 Ocak 2025</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-item set-bg" data-setbg="/sona-master/img/blog/blog-3.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Popüler Destinasyonlar</span>
                        <h4><a href="#">2025'te Keşfetmeniz Gereken 5 Şehir</a></h4>
                        <div class="b-time"><i class="icon_clock_alt"></i> 21 Ocak 2025</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="blog-item small-size set-bg" data-setbg="/sona-master/img/blog/blog-wide.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Seyahat Planlama</span>
                        <h4><a href="#">Tatilinizi Planlarken Bilmeniz Gerekenler</a></h4>
                        <div class="b-time"><i class="icon_clock_alt"></i> 08 Ocak 2025</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-item small-size set-bg" data-setbg="/sona-master/img/blog/blog-10.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Oteller ve Hizmetler</span>
                        <h4><a href="#">Lüks Otellerde Konaklamanın Farkı Nedir?</a></h4>
                        <div class="b-time"><i class="icon_clock_alt"></i> 12 Ocak 2025</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>