 <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a href="#">
                                    <img src="~/sona-master/img/footer-logo.png" alt="Sona Otel Logosu">
                                </a>
                            </div>
                            <p>Milyonlarca gezgine ilham veriyor ve onlara 90'dan fazla yerel web sitesi aracılığıyla ulaşıyoruz.</p>
                            <div class="fa-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6>İletişim</h6>
                            <ul>
                                <li>(12) 345 67890</li>
                                <li>info.sona@gmail.com</li>
                                <li>856 Cordia Extension Apt. 356, Lake, ABD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-newslatter">
                            <h6>Güncellemeler</h6>
                            <p>En son fırsatlar ve güncellemeleri almak için kaydolun.</p>
                            <form action="#" class="fn-form">
                                <input type="text" placeholder="E-posta">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li><a href="#">İletişim</a></li>
                            <li><a href="#">Kullanım Şartları</a></li>
                            <li><a href="#">Gizlilik Politikası</a></li>
                            <li><a href="#">Çevresel Politikamız</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="co-text">
                            <p>
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır | Bu şablon <i class="fa fa-heart" aria-hidden="true"></i> ile yapılmıştır.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Footer Section End -->
    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Burada arayın...">
            </form>
        </div>
    </div>