<!-- Hizmetler Bölümü Başlangıç -->
<section class="services-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Nasıl Çalışıyoruz?</span>
                    <h2>Hizmetlerimizi Keşfedin</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-036-parking"></i>
                    <h4>Otel Karşılaştırma</h4>
                    <p>
                        Sizin için en uygun oteli bulabilmeniz için fiyatları, konumları ve kullanıcı yorumlarını 
                        karşılaştırarak en iyi seçeneği sunuyoruz.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-033-dinner"></i>
                    <h4>Kapsamlı Filtreleme</h4>
                    <p>
                        Konum, fiyat, yıldız sayısı, müşteri değerlendirmeleri ve daha fazlasına göre arama yaparak 
                        ihtiyacınıza en uygun oteli kolayca bulun.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-026-bed"></i>
                    <h4>Hızlı ve Güvenli Rezervasyon</h4>
                    <p>
                        Kullanıcı dostu rezervasyon sürecimiz sayesinde otelinizi birkaç dakika içinde hızlı ve güvenli bir 
                        şekilde ayırtabilirsiniz.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-024-towel"></i>
                    <h4>Esnek İptal Seçenekleri</h4>
                    <p>
                        Planlarınız değişebilir! Esnek iptal politikası sunan otelleri görüntüleyerek rezervasyonunuzu 
                        dilediğiniz gibi yönetebilirsiniz.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-044-clock-1"></i>
                    <h4>Özel Teklifler ve İndirimler</h4>
                    <p>
                        Platformumuz üzerinden yapılan rezervasyonlarda otellerin sunduğu en iyi fiyatları, indirimleri 
                        ve özel kampanyaları keşfedin.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-012-cocktail"></i>
                    <h4>7/24 Müşteri Desteği</h4>
                    <p>
                        Rezervasyon sürecinde veya konaklamanız sırasında yardıma mı ihtiyacınız var? Ekibimiz size 7/24 
                        destek sunmaya hazır!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hizmetler Bölümü Bitiş -->
