<!-- Testimonial Section Begin -->
<section class="testimonial-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Müşteri Yorumları</span>
                    <h2>Kullanıcılarımız Ne Diyor?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="testimonial-slider owl-carousel">
                    <div class="ts-item">
                        <p>
                            Sona üzerinden otel rezervasyonu yapmak inanılmaz derecede kolaydı. Kullanıcı dostu arayüzü sayesinde istediğimiz konaklama seçeneğini hızla bulduk. Otel seçeneği oldukça fazlaydı ve fiyat karşılaştırması yapmamız çok işimize yaradı!
                        </p>
                        <div class="ti-author">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                            </div>
                            <h5> - Elif Yılmaz</h5>
                        </div>
                        <img src="~/sona-master/img/testimonial-logo.png" alt="Müşteri Yorumu">
                    </div>
                    <div class="ts-item">
                        <p>
                            Sona, bize en uygun oteli seçmemiz konusunda harika bir rehber oldu. Filtreleme özellikleri sayesinde ihtiyacımız olan oteli kısa sürede bulduk. Rezervasyon süreci hızlı ve güvenilirdi. Tatilimiz sorunsuz geçti, tekrar kullanacağız!
                        </p>
                        <div class="ti-author">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                            </div>
                            <h5> - Mehmet Kaya</h5>
                        </div>
                        <img src="~/sona-master/img/testimonial-logo.png" alt="Müşteri Yorumu">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonial Section End -->