<!-- Hakkımızda Bölümü Başlangıç -->
<section class="aboutus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title">
                        <span>Hakkımızda</span>
                        <h2>En İyi Otel Rezervasyon Deneyimi</h2>
                    </div>
                    <p class="f-para">
                        Sona.com, kullanıcılarına dünyanın dört bir yanındaki en iyi otelleri keşfetme ve rezerve etme imkanı sunan
                        lider bir online otel rezervasyon platformudur. Seyahat etmeyi kolaylaştırmak için en iyi fiyatları ve en
                        kaliteli otelleri bir araya getiriyoruz.
                    </p>
                    <p class="s-para">
                        Geniş otel ağı, kullanıcı dostu arayüzü ve güvenli rezervasyon sistemiyle, tatiliniz veya iş geziniz için
                        en iyi konaklama seçeneklerini bulmanızı sağlıyoruz. Konforlu, bütçeye uygun ve lüks oteller arasından
                        dilediğiniz gibi seçim yaparak kusursuz bir seyahat deneyimi yaşayın.
                    </p>
                    <a href="#" class="primary-btn about-btn">Daha Fazla Bilgi Edinin</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-pic">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="~/sona-master/img/about/about-1.jpg" alt="Otel Rezervasyonu">
                        </div>
                        <div class="col-sm-6">
                            <img src="~/sona-master/img/about/about-2.jpg" alt="Konforlu Konaklama">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hakkımızda Bölümü Bitiş -->
